// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-header__content {
  visibility: hidden !important;
}

.translations {
  border-top: 1px solid $govuk-border-colour;
  margin-top: 50px;
  padding-top: 20px;
}

.language-1 {
  margin-right: 25px;
  float: left;
}

.language-2 {
}

.govuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 0px;
}

.important-actions a {
color: white;
}

start-page .govuk-phase-banner {
  margin-bottom: govuk-spacing(6);
}

.start-page main {
  padding-top: 0;
}

.start-page-banner {
  padding-bottom: 5px;
  background-color: govuk-colour("light-grey");
  color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
}

.info-banner {
background: #f3f2f1;
padding: 50px 0 40px 0;
}

.extra-line-height {
  line-height: 1.7em;
}

.govuk-list-bullet {
  margin-left: -20px;
}

.shared-banner-elements {
  margin-top: 20px;
}

.research-banner {
  padding: 15px 15px 2px 15px;
  background-color: white;
  border-left: 10px solid #00703c;
  margin-bottom: 50px;
  margin-top: 20px;
}


.logo {
  border-left: 2px solid black;
  margin-right: 5px;
  padding-top: 2px;
}

.logo-1 {
  border-left: 2px solid #006c56;
  margin-right: 5px;
  padding-top: 2px;
}

.dept-name {
  padding-left: 7px;
  margin-top: -15px;
}

a.dept-name-link {
    color: #0b0c0c;
    text-decoration: none;
}

.crest {
  background: url(../images/crest.png) no-repeat 6px 0;
  background-size: 30px;
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  padding-left: 7px;
}



.page-actions-button {
  border-radius: 2px;
  display: inline-block;
  border: 1px solid govuk-colour("blue");
  padding: 10px 10px 10px 10px;
  margin-right: 5px;
  background: white;
}

.content-type-name {
  font-weight: bold;
}

.content-desc {
  font-weight: normal;
}

.app-related-items {
  border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

.metadata {
  margin: 0 auto;
  display: block;
  clear: both;
  margin-bottom: 40px;
}

.metadata p {
  margin-bottom: 7px;
  font-size: 90%;
}

.from-place {

  padding-right: 20px;
}

.publish-date {
  display: block;
}

.content-type-body {
  padding-top: 10px;
}

.devolved-admin-picker {
  display: block;
  padding: 10px 0 10px 0;
}

.devolved-admin-picker-selected {
  display: inline-block;
  background: govuk-colour("blue");
  padding: 7px;
  border-radius: 2px;
}

.devolved-admin-picker-selected p {
  margin-bottom: 0;
  color: white;
}

.devolved-admin-picker-nations {
  margin-top: 5px;
}

.strong {
  font-weight: bold;
}


.generic-notice {
border: 1px solid $govuk-border-colour;
margin: 10px 0 10px 0;
border-radius: 2px;
}

.generic-notice-title {
background: #ffdd00;
padding: 15px 15px 15px 15px;
}

.generic-notice-body {
background: white;
padding: 15px;
}

.generic-notice-body p {
margin-bottom: -5px;
}

.generic-notice-title h2 {
  margin-bottom: -5px;
}

.main-content {
  margin-top: 10px;
}

.change-notes {
  border-top: 1px solid $govuk-border-colour;
  padding-top: 20px;
  margin-top: 50px;
}

.change-notes p {
  font-size: 95%;
}

.related-links li {
  margin-bottom: 17px;
}

.explore-topic {
  border-top: 2px solid  $govuk-brand-colour;
  padding-top: 10px;
  margin-top: 50px;
}

.explore-topic p {
  font-size: 95%;
}

.doc-container {
  margin-top: 50px;
  display: block;
  height: 210px;
}

.doc-container p {
margin-bottom: 10px;
}

.doc-icon {
  background: white;
  border: 4px solid $govuk-border-colour;
  height: 140px;
  width: 90px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.current-da-block  {
  background: #f3f2f1;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.current-da-block p {
  margin-bottom: 5px;
}

.contents-menu {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contents-menu li {
  font-size: 80%;
  padding-bottom: 7px;
}

.contents-menu a {
  text-decoration: none;
}

.documents-chunk {
  margin-top: 50px;
}

.cta-block {
}

.cta-block p {
  margin-bottom: 3px;
}

.proto-label {
  background: pink;
  padding: 3px;
  display: block;
}

.body-img {
  width: 90%;
  padding-bottom: 50px;
}

.live-metadata-block {
  background: $govuk-brand-colour;
  padding: 20px 30px;
  margin-bottom: 50px;
  color: white !important;
}

.live-metadata-block p {
  color: white !important;
  margin-bottom: 2px;
  font-size: 95%;
}


.gem-c-share-links__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gem-c-share-links__list-item {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    min-height: 30px;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.gem-c-share-links__title {
    font-size: 16px;
    line-height: 1.5;
}

.gem-c-share-links__link-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.share-link {
  font-weight: bold;
  float: left;
}

.share-links {
  margin: 40px 0 60px 0;
  display: block;
}
