
{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}

{% block pageTitle %}
GOV.UK Universal Content Type
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-m">Standard content template, front-end prototype – guidance example</h2>


        <p class="govuk-body-m">
          We believe GOV.UK could be using a reduced set of flexible and consistent front end templates, which broadly map to our work on typology.</p>

         <p>The standard content template would be the most used across GOV.UK, so we've brought the concept to life in this front end prototype.</p>
        <p> We've also used the prototype to demonstrate how we could merge 4 guidance content types (across different schemas) into one flexible 'guidance' content type.
          <a href="https://docs.google.com/document/d/1PpYxEd28ru1YsL31riz0nOyEtkauxwx6wfv5UpQL758/edit#">Read more about why we chose guidance</a></p>



            <h2 class="govuk-heading-m">Content variants</h2>
          <p><a href="blue-badge-can-i-get-one">Variant 1: If the publisher has both long-form copy and downloads</a</p>
          <p><a href="blue-badge-can-i-get-one-downloads">Variant 2: If the publisher only has downloads</a</p>
          <p><a href="blue-badge-can-i-get-one-full-text">Variant 3: If the publisher only has long-form copy</a</p>
          <p><a href="blue-badge-can-i-get-one-downloads-statutory">Variant 4: If they've applied the 'statutory guidance' meta data</a></p>



            <hr>
      <p><a href="universal-type-features-banner">Design playground</a> &mdash;
    Palette of elements, live and experimenetal.</p>







  </div>
{% endblock %}
