
{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}

{% block pageTitle %}
GOV.UK Universal Content Type
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-m">Template</h2>
      <p><a href="universal-type-features-banner">Universal content format - basic features</a></p>

        <h2 class="govuk-heading-m">Content examples</h2>
      <p><a href="blue-badge-can-i-get-one">Variant 1: Text and downloads</a</p>
      <p><a href="blue-badge-can-i-get-one-downloads">Variant 2: Downloads only</a</p>
      <p><a href="blue-badge-can-i-get-one-full-text">Variant 3: Text only</a</p>
      <p><a href="blue-badge-can-i-get-one-downloads-statutory">Variant 4: With statutory guidance label</a</p>





  </div>
{% endblock %}
