{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block pageTitle %}
 {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Universal Content Type' %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
<div class="start-page-banner">
  <div class="govuk-width-container">
     <div class="govuk-phase-banner">
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

         <div class="shared-banner-elements">
           <div class="govuk-breadcrumbs">
       <ol class="govuk-breadcrumbs__list">
         <li class="govuk-breadcrumbs__list-item">
           <a class="govuk-breadcrumbs__link" href="#">Home</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
           <a class="govuk-breadcrumbs__link" href="#">Level one</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
           <a class="govuk-breadcrumbs__link" href="#">Level two</a>
         </li>
       </ol>
     </div>

     <!-- Research banner -->
     <!--
         <div class="research-banner">
           <p class="govuk-body-s">Research banner with <a href="#">link to a survey</a></p>
           </div>
         -->
             <!-- Logo / crest -->
           <div class="logo">
             <div class="crest"></div>
             <div class="dept-name">
               <p>Cabinet Office</p>
               </div>
             </div>

         <h1 class="govuk-heading-xl">Heading H1 example</h1>

         <p class="content-type-name">Content type name
         <span class="content-desc">&mdash; Example of a description, which may be a few lines long, and it follows the content type name, which may have a role in helping users understand the type and purpose of the document (or it may not).</span></p>

         <h2 class="govuk-body-m proto-label">Experimental Action Buttons</h2>
         </br> </br>

         <div class="page-actions-button">
          <span class="govuk-body-s"><a href="#">Get emails about this page</a></span>
         </div>

         <div class="page-actions-button">
         <span class="govuk-body-s"><a href="#">Print this page</a></span>
         </div>
        </div>
       </div>

       <div class="govuk-grid-column-one-third">
         <div class="translations">
           <div class="language-1">
         <p class="govuk-body-s">English</p>
       </div>

         <div class="language-2">
           <p class="govuk-body-s"><a href="#">Welsh</a></p>
         </div>
       </div>
     </div>
     </div>

       </div>
     </div>
     </div>


     <div class="govuk-width-container content-type-body">
       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

           <div class="metadata">
            <div class="from-place">
              <p class="govuk-body-s"><span class="strong">From:</span> Cabinet Office</p>
            </div>

              <div class="from-place">
            <p class="govuk-body-s"><span class="strong">From: </span> Department Name</p>
            </div>

            <div class="publish-date">
            <p class="govuk-body-s"><span class="strong">Published:</span> 27 September 2022 <a href="#">See all updates</a></p>
             </div>

             </div>
             </div>
             </div>

             <div class="govuk-width-container content-type-body">
               <div class="govuk-grid-row">
                 <div class="govuk-grid-column-two-thirds">


                   <!-- Devolved Administration picker -->
                    <h2 class="govuk-body-m proto-label">Experimental Devolved Nations block</h2>

                   <div class="devolved-admin-picker">
                     <div class="devolved-admin-picker-selected">
                   <p class="govuk-body-m">This guidance applies to England</span>
                   </div>
                   <div class="devolved-admin-picker-nations">
                   <p class="govuk-body-s">See more guidance for <a href="#">Wales</a>, <a href="#">Scotland</a> and <a href="#">Northern Ireland</a></p>
                   </div>
                   </div>

                   <h2 class="govuk-body-m proto-label">Live Devolved Nations block</h2>

                   <div class="current-da-block">
                     <p class="govuk-body-m govuk-!-font-weight-bold">Applies to England</p>
                     <p><a href="#">Publication for Wales</a> </p>
                    <p><a href="#">Publication for Scotland</a></p>
                    <p><a href="#">Publication for Northern Ireland</a></p>
                     </div>
                   <!-- Main content -->
                   <div class="main-content">
                     <h2 class="govuk-heading-m">Subheading H2 example</h2>
                  <p>This is an example of the first section of page of content. It will usually have several paragraphs, and sometimes it will have a menu of contents to make it easier to skip to sections.</p>

                  <p>It may have links, images, and GovSpeak. There will be related content shown to the right of the content,
                  and there may also be notices.</p>
                  </div>

                   <!-- Generic notice -->

                   <h2 class="govuk-body-m proto-label">Experimental Notice</h2>

                   <div class="generic-notice">
                     <div class="generic-notice-title">
                   <h2 class="govuk-heading-s">This is an example of a notice title</h2>
                   </div>

                   <div class="generic-notice-body">
                   <p>This is an example of a notice body</p>
                   </div>
                   </div>


                </div>

                   <div class="govuk-grid-column-one-third">
                     <!-- Rel links -->
                     <h2 class="govuk-heading-m app-related-items" id="subsection-title">
                       Related links
                     </h2>
                     <nav role="navigation" aria-labelledby="subsection-title">
                       <ul class="govuk-list govuk-!-font-size-16">
                         <li>
                           <a href="#">
                             Related link
                           </a>
                         </li>
                         <li>
                           <a href="#">
                             Related link
                           </a>
                         </li>
                         <li>
                           <a href="#" class="govuk-!-font-weight-bold">
                             More <span class="govuk-visually-hidden">in Subsection</span>
                           </a>
                         </li>
                       </ul>
                     </div>
                   </div>
                   </div>







         </div>


 {# pulls in default gov uk template #}
 {{super()}}
{% endblock %}

{% block content %}


</div>
</div>


</div>

{% endblock %}
